<configuration>

	<appender
		name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		<!-- %d{HH:mm:ss.SSS} %-5level %logger{25} - %msg  -->
			<Pattern>
				[%-5level] %logger{0} - %msg%n</Pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>

	<!-- Particular classes which we want extra info from -->

	<logger name="com.mygdx.holowyth.unit.UnitStats" level="DEBUG" />
	<logger name="com.mygdx.holowyth.unit.UnitStun" level="INFO" />
	
	<logger name="com.mygdx.holowyth.unit.UnitOrderDeferring" level="INFO" />

	<logger name="com.mygdx.holowyth.collision" level="INFO"/>
	


</configuration>
